<div class="card-container">
<div class="card" style="width: 20rem;">
  <img src="https://scontent.ftuc4-2.fna.fbcdn.net/v/t39.30808-6/344272725_2484832275006162_8766895100226781250_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=E526l7-1MGkAX_719vL&_nc_ht=scontent.ftuc4-2.fna&oh=00_AfCoCRc_z5VrpoV1W0rr2nPn1Xua1Ff0XhRbKxwHiGKoRA&oe=645ECCB3" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">🔴CRONOGRAMA DE EXÁMENES FINALES HASTA MARZO 2024 EN LINK DRIVE ‼️👇🏻</h5>
    <p class="card-text">📌Fechas de exámenes de cada llamado.</p>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F1Atsdr0acNYZJnEG6oLwxSNVFxg5oFhd7%3Ffbclid%3DIwAR0nCV4QtqXobZfAuk8EJms9TO5SRMX-Ly0UHezTjOcdqUQ9bHvKQJ93Z4A&h=AT26fKvBymmNUtHGdeCf90Pkxyp997b6xhMq7jD22vfO9sPXk4o7O98_SrlgfhJNDKo6mmdS6m_i7QruFpj0lKVhH7nNhOp_wZCItELnPQzrm9uzdCyK5CJNqG6ZSNjgarASvb_L-XRW&__tn__=-UK*F&c[0]=AT1S0Bczk5HWHpZTmFTi4RCbRrVvR93QSV6U2baIHWFuK6uM5qbX4z3wM_8cJy9JG0A_dKPBBc8AhgeB7f6uIyzo1k8DeYtJ0UOoa0ZMSNM2EClRAQZH4eA0m5wEuT1n29fGUyDMtEdojwAyqFottqPxQg" class="btn btn-primary">Mostar mas</a>
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://scontent.ftuc4-2.fna.fbcdn.net/v/t39.30808-6/343701569_252768483864791_2555888461511554871_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=VRSAwAmVDqYAX8oQtad&_nc_ht=scontent.ftuc4-2.fna&oh=00_AfAoBwJISR5RWkJepL1pZhSHOBAKc8ZDYkeyqIrTrVBgwA&oe=645DA695" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">⚠️ATENCIÓN INGRESANTES 2023. RECEPCIÓN DE DOCUMENTACIÓN ‼️👇🏻</h5>
    <p class="card-text">📌Fechas de exámenes de cada llamado.</p>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F1Atsdr0acNYZJnEG6oLwxSNVFxg5oFhd7%3Ffbclid%3DIwAR0nCV4QtqXobZfAuk8EJms9TO5SRMX-Ly0UHezTjOcdqUQ9bHvKQJ93Z4A&h=AT26fKvBymmNUtHGdeCf90Pkxyp997b6xhMq7jD22vfO9sPXk4o7O98_SrlgfhJNDKo6mmdS6m_i7QruFpj0lKVhH7nNhOp_wZCItELnPQzrm9uzdCyK5CJNqG6ZSNjgarASvb_L-XRW&__tn__=-UK*F&c[0]=AT1S0Bczk5HWHpZTmFTi4RCbRrVvR93QSV6U2baIHWFuK6uM5qbX4z3wM_8cJy9JG0A_dKPBBc8AhgeB7f6uIyzo1k8DeYtJ0UOoa0ZMSNM2EClRAQZH4eA0m5wEuT1n29fGUyDMtEdojwAyqFottqPxQg" class="btn btn-primary">Mostar mas</a>
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://scontent.ftuc4-2.fna.fbcdn.net/v/t39.30808-6/342707498_593211616096769_6270444208630228743_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=EFZke9F4JScAX_X6RLZ&_nc_ht=scontent.ftuc4-2.fna&oh=00_AfDtJxCZssqZHYHwaPGkfcFhU4plImdyFk12Ntug_hlTjA&oe=645F1499" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">🔴CRONOGRAMA DE EXÁMENES FINALES HASTA MARZO 2024 EN LINK DRIVE ‼️👇🏻</h5>
    <p class="card-text">📌Fechas de exámenes de cada llamado.</p>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F1Atsdr0acNYZJnEG6oLwxSNVFxg5oFhd7%3Ffbclid%3DIwAR0nCV4QtqXobZfAuk8EJms9TO5SRMX-Ly0UHezTjOcdqUQ9bHvKQJ93Z4A&h=AT26fKvBymmNUtHGdeCf90Pkxyp997b6xhMq7jD22vfO9sPXk4o7O98_SrlgfhJNDKo6mmdS6m_i7QruFpj0lKVhH7nNhOp_wZCItELnPQzrm9uzdCyK5CJNqG6ZSNjgarASvb_L-XRW&__tn__=-UK*F&c[0]=AT1S0Bczk5HWHpZTmFTi4RCbRrVvR93QSV6U2baIHWFuK6uM5qbX4z3wM_8cJy9JG0A_dKPBBc8AhgeB7f6uIyzo1k8DeYtJ0UOoa0ZMSNM2EClRAQZH4eA0m5wEuT1n29fGUyDMtEdojwAyqFottqPxQg" class="btn btn-primary">Mostar mas</a>
  </div>
</div>
</div>